<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container">

        <div class="section-title">
            <h2>Clientes</h2>
            <p></p>
        </div>

        <div class="owl-carousel clients-carousel">
            <img loading="lazy" src="assets/img/rosaritocentro/logos-350x350/tv-privado.jpg" alt=" TV Privado">
            <img loading="lazy" src="assets/img/rosaritocentro/logos-350x350/acua.jpg" alt="Acua Baja Bar">
            <img loading="lazy" src="assets/img/rosaritocentro/logos-350x350/clean-energy.jpg" alt="Clean Energy">
            <img loading="lazy" src="assets/img/rosaritocentro/logos-350x350/el-taller.jpg" alt="El Taller">
            <!--img loading="lazy" src="assets/img/clients/rosaritocentro/logos-350x350/la-esperanza.jpg" alt="La Esperanza"-->
            <img loading="lazy" src="assets/img/rosaritocentro/logos-350x350/la-querencia.jpg" alt="La Querencia">
            <img loading="lazy" src="assets/img/rosaritocentro/logos-350x350/sunset.jpg" alt="Sunset">
            <!--img loading="lazy" src="assets/img/clients/client-8.png" alt=""-->
        </div>

    </div>
</section><!-- End Clients Section -->