<h3 class="sidebar-title">No te olvides de nuestros servicios</h3>
<div class="sidebar-item tags">
    <ul>
        <li><a href="servicios/paginas-web.html">Desarollo Web</a></li>
        <li><a href="servicios/diseno-grafico.html">Diseño Grafico</a></li>
        <li><a href="servicios/redes-sociales.html">Gestion de redes</a></li>
        <li><a href="servicios/punto-de-venta.html">Punto de Venta</a></li>
        <li><a href="servicios/codigo-qr.html">Codigo QR</a></li>
        <li><a href="servicios/correo-empresarial.html">Correo Empresarial</a></li>
        <li><a href="servicios/marketing.html">Marketing</a></li>
        <!--li><a href="#">Design</a></li>
        <li><a href="#">Office</a></li>
        <li><a href="#">Creative</a></li>
        <li><a href="#">Studio</a></li>
        <li><a href="#">Smart</a></li>
        <li><a href="#">Tips</a></li>
        <li><a href="#">Marketing</a></li-->
    </ul>
</div><!-- End sidebar tags-->