<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>Nuestro Boletín de Noticias</h4>
          <p>Enterate de las promociones de nuestros socios .</p>
        </div>
        <div class="col-lg-6">
          <form action="https://1a171b9d.sibforms.com/serve/MUIEAPqadW9jRsfFA3tmofGA1qkAB92mZMdlPW6cZav0pSX1H_sn7FXDHwrGhJw--VqafOtKy14p_PaeduMyDwGlZx0ucCgvfGcPN2V-XpiBNpuW92RCCWgqUxVIW_KZvOE3sx2tAlzfpXdxFmU6A0qx04PWNh3atHh-XwZ6pkhfWh4pAmQoVVqVvLQkeedhj-1EMFBhIR774UTY" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestros Servicios</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a
                href="https://rosaritocentro.com/servicios/marketing.html">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a
                href="https://rosaritocentro.com/servicios/redes-sociales.html">Manejo de redes
                sociales</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>HERRAMIENTAS</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a
                href="https://rosaritocentro.com/servicios/paginas-web.html">Desarrollo Web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a
                href="https://rosaritocentro.com/servicios/correo-empresarial.html">Correo
                Empresarial</a></li>
            <li><i class="bx bx-chevron-right"></i> <a
                href="hhttps://rosaritocentro.com/servicios/punto-de-venta.html">Terminal Punto de
                Venta</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contacto</h4>
          <p><a href="https://g.page/rosarito-centro?share">
            Blvd. Benito Juárez 907 - 7 <br>
            Playas de Rosarito <br>
            Baja California , CP 22710<br>
            México <br><br></a>
            <strong>Teléfono:</strong><a href="tel:+526616114079"> +52 1 661 611 4079</a><br>
            <strong>Correo: </strong><a href="mailto:contacto@rosaritocentro.com">contacto@rosaritocentro.com</a>
          </p>

        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>Acerca de Rosarito Centro</h3>
          <p>Rosarito Centro es una página dedicada a apoyar la transformación digital de Rosarito Baja
            California.
            Apoyamos a nuestros socios con herramientas digitales.
          </p>
          <div class="social-links mt-3">

            <a href="https://www.facebook.com/RosaritoCentroBC/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/rosaritocentro/" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="https://twitter.com/CentroRosarito" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCWexmtM12ZHXjHvuQAxeXsQ" class="youtube"><i class="bx bxl-youtube"></i></a>
            <a href="https://www.linkedin.com/in/rosaritocentro/" class="linkedin"><i class="icofont-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Rosarito Centro</span></strong>. Todos los derechos reservados
    </div>
    <div class="credits">
      Diseñado por <a href="https://rosaritocentro.com/">Rosarito Centro</a>
    </div>
  </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
{%- include scripts.html -%}