<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Nuestro Boletín de Noticias</h4>
                    <p>Enterate de las promociones de nuestros socios .</p>
                </div>
                <div class="col-lg-6">
                    <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://rosaritocentro.us18.list-manage.com/subscribe/post?u=2fbc06672d61694792c0c1d63&amp;id=c5a4993384" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="correo electronico" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2fbc06672d61694792c0c1d63_c5a4993384" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribir" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nuestros Servicios</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://rosaritocentro.com/servicios/publicidad.html">Publicidad</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://rosaritocentro.com/servicios/marketing.html">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://rosaritocentro.com/servicios/redes-sociales.html">Manejo de redes sociales</a></li>                            
                        </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>HERRAMIENTAS</h4>                    
                        <ul> 
                            <li><i class="bx bx-chevron-right"></i> <a href="https://rosaritocentro.com/servicios/paginas-web.html">Desarrollo Web</a></li>                           
                            <li><i class="bx bx-chevron-right"></i> <a href="https://rosaritocentro.com/servicios/correo-empresarial.html">Correo Empresarial</a></li>                            
                            <li><i class="bx bx-chevron-right"></i> <a href="hhttps://rosaritocentro.com/servicios/punto-de-venta.html">Terminal Punto de Venta</a></li>
                        </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contacto</h4>
                    <p>
                        Blvd. Benito Juarez <br>
                        Playas de Rosarito <br>
                        Baja California , CP 22710<br>
                        México <br><br>
                        <strong>Teléfono:</strong> +52 1 661 661 4079<br>
                        <strong>Correo: </strong><a href="mailto:contacto@rosaritocentro.com.com">contacto@rosaritocentro.com</a>
                    </p>

                </div>

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>Acerca de Rosarito Centro</h3>
                    <p>Rosarito Centro es una página dedicada a apoyar la transformación digital de Rosarito Baja
                        California.
                        Apoyamos a nuestros socios con herramientas digitales.
                    </p>
                    <div class="social-links mt-3">
                        
                        <a href="https://www.facebook.com/RosaritoCentroBC/" class="facebook"><i class="bx bxl-facebook"></i></a>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Rosarito Centro</span></strong>. Todos los derechos reservados
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/ -->
            Diseñado por <a href="https://rosaritocentro.com/" rel="nofollow">Rosarito Centro</a>
        </div>
    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="{{ "/assets/vendor/jquery/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/vendor/jquery.easing/jquery.easing.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/vendor/php-email-form/validate.js" | absolute_url }}"></script>
<script src="{{ "/assets/vendor/jquery-sticky/jquery.sticky.js" | absolute_url }}"></script>
<script src="{{ "/assets/vendor/owl.carousel/owl.carousel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/vendor/waypoints/jquery.waypoints.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/vendor/counterup/counterup.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/vendor/isotope-layout/isotope.pkgd.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/vendor/venobox/venobox.min.js" | absolute_url }}"></script>

<!-- Template Main JS File -->
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>

{%- if page.title == 'Contacto'-%}
<script src="{{ "/assets/js/contacto.js" | absolute_url }}"></script>
{%- endif -%}