<!-- ======= Footer ======= -->
<footer id="footer">

  <!--div class="footer-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>Nuestro Boletín de Noticias</h4>
          <p>Enterate de las promociones de nuestros socios .</p>
        </div>
        <div class="col-lg-6">
          <form action="https://rosaritocentro.us21.list-manage.com/subscribe/post?u=7c79129f37148224be05f8177&amp;id=34752bc9e2&amp;f_id=00bac6e1f0" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div-->
  </div>
  </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestros Servicios</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a
                href="https://rosaritocentro.com/servicios/codigo-qr.html">Codigo QR</a></li>
            <li><i class="bx bx-chevron-right"></i> <a
                href="https://rosaritocentro.com/servicios/correo-empresarial.html">Correo Empresarial</a></li>
                <li><i class="bx bx-chevron-right"></i> <a
                  href="https://rosaritocentro.com/servicios/diseno-grafico.html">Diseño Grafico</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a
                    href="https://rosaritocentro.com/servicios/marketing.html">Marketing</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a
                      href="https://rosaritocentro.com/servicios/paginas-web.html">Desarrollo de paginas web</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a
                        href="https://rosaritocentro.com/servicios/punto-de-venta.html">Punto de venta</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a
                          href="https://rosaritocentro.com/servicios/redes-sociales.html">Manejo de redes sociales</a></li>
          </ul>
        </div>


        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestros Clientes</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a
                href="https://rosaritocentro.com/directorio/Acua-Baja-Bar-&-Mar.html">Acua Baja Bar & Mar</a></li>
            <li><i class="bx bx-chevron-right"></i> <a
                href="https://rosaritocentro.com/directorio/lo-que-sea.html">Lo Que Sea</a></li>
            <li><i class="bx bx-chevron-right"></i> <a
                href="https://rosaritocentro.com/directorio/pupuseria-pulgarcito.html">Pupusería Pulgarcito</a></li>
            <!--li><i class="bx bx-chevron-right"></i> <a
                href="politica-de-privacidad.html">Política de Privacidad </a></li-->                
          </ul>
        </div>


      <!--div class="col-lg-3 col-md-6 footer-horario">
        <h4>Nuestro Horario</h4>
        <p>
          Lunes a Viernes 10:00 AM - 6:00 PM
          Sabados 10:00 AM - 4:00 PM 
        </p>
      </div>

      <div class="col-lg-3 col-md-6 footer-Metodos-de-pago">
        <h4>Metodos de Pago</h4>
        <p>
          Visa, bitcoin, mercado pago
        </p>
      </div-->

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contacto</h4>
          <p><a href="https://g.page/rosarito-centro?share">
            Blvd. Benito Juárez 907 - 7 <br>
            Playas de Rosarito <br>
            Baja California , CP 22710<br>
            México <br><br></a>
            <strong>Teléfono:</strong><a href="tel:+526616114079"> +52 1 661 611 4079</a><br>
            <strong>Correo: </strong><a href="mailto:contacto@rosaritocentro.com">contacto@rosaritocentro.com</a>
            <!--a href="politica-de-privacidad.html">Política de Privacidad</a-->
          </p>

        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>Acerca de Rosarito Centro</h3>
          <p>Rosarito Centro es una página dedicada a apoyar la transformación digital de Rosarito Baja
            California.
            Apoyamos a nuestros socios con herramientas digitales.
          </p>
          <div class="social-links mt-3">

            <a href="https://www.facebook.com/RosaritoCentroBC/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/rosaritocentro/" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="https://twitter.com/CentroRosarito" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCWexmtM12ZHXjHvuQAxeXsQ" class="youtube"> 
            <i class="icofont-youtube"></i>
            <a href="https://www.linkedin.com/in/rosaritocentro/" class="linkedin"><i class="icofont-linkedin"></i></a>
          </div>
        </div>
      
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Rosarito Centro</span></strong>. Todos los derechos reservados
    </div>
    <div class="credits">
      Diseñado por <a href="https://rosaritocentro.com/">Rosarito Centro</a>
    </div>
  </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<script>
  jQuery(document).ready(function($){
  $(document).snowFlurry({
  maxSize: 5,
  numberOfFlakes: 50,
  minSpeed: 10,
  maxSpeed: 15,
  color: '#fff',
  timeout: 0
  });
  });
</script>

{%- include scripts.html -%}