<!-- ======= Header ======= -->
<header id="header">
    <div class="container d-flex justify-content-between">
        <div class="logo d-flex">
            <a href="{{ " /index.html" | absolute_url }}">
                <img loading="lazy" src="/assets/img/rosaritocentro/logo_negro-rec.png" alt="Rosarito Centro"
                    class="img-fluid">
            </a>
            <h1 class="text-light"><a href="{{ " /index.html" | absolute_url }}"><span>Rosarito Centro</span></a></h1>
        </div>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="{{ " /index.html" | absolute_url }}">Inicio</a></li>
                <li class="drop-down"><a href="{{ " /services.html" | absolute_url }}">Servicios</a>
                    <ul>
                        <li><a href="/servicios/codigo-qr.html">Codigo QR</a></li>
                        <li><a href="/servicios/correo-empresarial.html">Correo Empresarial</a></li>
                        <li><a href="/servicios/diseno-grafico.html">Diseño Grafico</a></li>
                        <li><a href="/servicios/marketing.html">Marketing</a></li>
                        <li><a href="/servicios/paginas-web.html">Desarrollo de Paginas Web</a></li>
                        <li><a href="/servicios/punto-de-venta.html">Punto de Venta</a></li>
                        <li><a href="/servicios/redes-sociales.html">Manejos de Redes Sociales</a></li>
                        <li><a href="/servicios/fotografia.html">Fotografía</a></li>
                    </ul>
                </li>
                <li><a href="{{ " /equipo.html" | absolute_url }}">Equipo</a></li>
                <li><a href="{{ " /directorio.html" | absolute_url }}">Directorio</a></li>
                <li><a href="{{ " /blog.html" | absolute_url }}">Blog</a></li>
                <li><a href="{{ " /contact.html" | absolute_url }}">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>