<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <!-- <ol class="carousel-indicators" id="hero-carousel-indicators"></ol> -->

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active"
                    style="background: url(/assets/img/rosaritocentro/DW1.jpg) center; height: 100vh;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated fadeInDown">DESARROLLO <span>WEB PROFESIONAL</span></h2>
                            <p class="animated fadeInUp">Es hora de llevar tu negocio al siguiente nivel.</p>
                            <a href="servicios/paginas-web.html" class="btn-get-started animated fadeInUp">Más
                                Información</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item"
                    style="background: url(assets/img/rosaritocentro/DG2.jpg) center; height: 100vh;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated fadeInDown">DISEÑO <span>GRAFICO</span></h2>
                            <p class="animated fadeInUp">Creatividad al límite </p>
                            <a href="servicios/diseno-grafico.html" class="btn-get-started animated fadeInUp">Más
                                Información</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item"
                    style="background: url(assets/img/Flayers/marketing-digital.jpg) center; height: 100vh;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated fadeInDown">MARKETING <span>DIGITAL</span></h2>
                            <p class="animated fadeInUp">Planeamos tus procesos, Gestionamos tus Redes Sociales.</p>
                            <a href="servicios/marketing.html" class="btn-get-started animated fadeInUp">Más
                                Información</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>

        </div>
    </div>
</section>