<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
        <div class="contact-info mr-auto">
            <i class="icofont-envelope"></i><a href="mailto:contacto@rosaritocentro.com">contacto@rosaritocentro.com</a>
            <i class="icofont-phone"></i><a href="https://wa.me/5216616614079?text=Contacto%20desde%20rosaritocentro.com">+52 1 661 611 4079</a>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/RosaritoCentroBC/" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="https://www.instagram.com/rosaritocentro/" class="instagram"><i class="icofont-instagram"></i></a>
        </div>
    </div>
</section>
